[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    node_modules,
    build,
    dist,
    *.egg-info,
    .tox,
    .pytest_cache,
    .mypy_cache,
    .vscode,
    .idea
ignore = E203, W503, E501