# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files (JetBrains: PyCharm)
.idea/

# IDE files (VS Code)
.vscode/

# Linting configuration
.pylintrc

# Virtual environments
venv/

# Environment variables
.env
.env.*
.docker-compose.prod-test.yml

# Other stuff
.mypy_cache/