version: "3.9"

services:
  app:
    image: ghcr.io/juliabb1/crypto_notifier:latest
    container_name: crypto_notifier_app_prod
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: mysql:8.1
    container_name: crypto_notifier_db_prod
    env_file:
      - .env.prod
    ports:
      - "3307:3306"
    volumes:
      - mysql_data_prod:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "127.0.0.1",
          "-u${MYSQL_USER}",
          "-p${MYSQL_PASSWORD}",
        ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    restart: always

volumes:
  mysql_data_prod:
